.header{
    text-align: center;
    text-transform: uppercase;
    padding-top: 5%;
    padding-bottom: 5%;
}
.header h1
{
    color: #102743;
}
.header h5{
    text-transform: uppercase;
    color: #87a18e;
}