.polldata1
{   
     background-color: #DFEBFF;
     /* border: 2px solid black; */
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.pollquestion1
{
  /* border: 2px solid rgb(56, 34, 34); */
   margin-left: 5%;
   margin-top: 1%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   font-weight: 700;
}

.polloption1{
    /* border: 2px solid green; */
    margin-left: 5%;
    /* margin-right: 20%; */
    width: 50%;
    margin-top: 3%;
}


.polloptiondata1{
  background-color: #FBFCFE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 110px;
  width: 100%;
  border-radius: 7px;
}



.polloptiondata1 p{
    color: #797E88;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 3%;
    padding-left: 2%;
}

.vote{
    position: relative;
    top: -35px;
    left: 5px;
    color: forestgreen !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 18px !important;
}

.votepercent
{
    font-family: 'Roboto';
    color:#30E84D;
    margin-left: 80%;
    font-size: 25px;
    margin-top: -19%;
}

@media(max-width:800px){
    .polloption1{
        /* border: 2px solid green; */
        margin-left: 5%;
        /* margin-right: 20%; */
        width: 90%;
        margin-top: 3%;
    }
}
@media(max-width:500px){
    .vote{
        position: relative;
        top: -20px;
        left: 5px;
        color: forestgreen !important;
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 18px !important;
    }
}
@media(min-width:1400px){
    .votepercent{
        margin-left: 85%;
        font-size: 30px;
        margin-top: -15%;
    }
}
@media(max-width:600px){
    .votepercent{
        margin-left: 82%;
        font-size: 30px;
        margin-top: -20%;
    }
}
@media(max-width:500px){
    .votepercent{
        margin-left: 77%;
        font-size: 30px;
        margin-top: -25%;
    }
}
@media(max-width:400px){
    .votepercent{
        margin-left: 70%;
        font-size: 30px;
        margin-top: -29%;
    }
}
@media(max-width:300px){
    .votepercent{
        margin-left: 70%;
        font-size: 25px;
        margin-top: -39%;
    }
}